*.
droplets/.ipynb_checkpoints
droplets/train/liquid/.ipynb_checkpoints
Preprocessing/41.5mm_53.6ul_254.5kHz_1200frames
Preprocessing/34.0mm_53.6ul_254.5kHz_1200frames
Preprocessing/37.0mm_53.6ul_254.5kHz_1200frames
Preprocessing/38.0mm_53.6ul_254.5kHz_1200frames
Preprocessing/39.0mm_53.6ul_254.5kHz_1200frames
Preprocessing/40.0mm_53.6ul_254.5kHz_1200frames
Preprocessing/31.5mm_53.6ul_254.5kHz_1200frames_aborted_turbo_ffailure
Preprocessing/40mm_55.8ul_223.4khz
Preprocessing/42.5mm_55.8ul_223.4khz
Preprocessing/50mm_55.1ul_223.4kHz_100shots
Preprocessing/11mm_55.5ul_223.4kHz
Preprocessing/45mm_55.8ul_223.4khz
Preprocessing/30mm_55.8ul_223.4khz
Preprocessing/35mm_55.8ul_223.4khz
Preprocessing/47.5mm_55.5ul_223.4khz
Preprocessing/20mm_55.8ul_223.4kHz
Preprocessing/50mm_55.8ul_223.4khz
Preprocessing/1mm_55.1ul_223.4kHz_focus´2_100shots
Preprocessing/16mm_55.7ul_223.4kHz
Preprocessing/37.5mm_55.8ul_223.4khz
Preprocessing/25mm_55.8ul_223.4kHz
Preprocessing/1mm_55.1ul_223.4kHz_focus1_100shots
Preprocessing/200311
Archive.zip
Classification/Cat_Dog_Tutorial/.ipynb_checkpoints
Preprocessing/Results_200311/Scans
Preprocessing/Results_200311/Many_defocussed
Preprocessing/Results_200311/In_focus_changing_setting
Preprocessing/Results_200311/In_focus
Temperature_sims_and_interpolation/From_Niloo/.ipynb_checkpoints
Preprocess_test-checkpoint.ipynb
preprocess_droplets.cpython-37.pyc
Package/.ipynb_checkpoints
Package/__pycache__
Classification/Cat_Dog_Tutorial
Examples/.ipynb_checkpoints
Calculate_jet_direction-checkpoint.ipynb
Preprocessing/.ipynb_checkpoints
